
<head>
  <meta charset="utf-8">
  <title>CSE412 Web App</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/header.css" type="text/css">
  
  
  <script src="jquery/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="axios/axios.js"></script>
  <script src="javascripts/BuyerView.js" charset="utf-8"></script>



    </head>
    <body>
    

      <ul class="nav">
        <li><p>CSE412</p></li>
        <li><button class="Logout" onclick="window.location.href='Webpage.html';">Logout</button></li>
      </ul>

    </div>


    
  <!-- Needs to be added to header
    Button for the user to press when they create their account
  <button id="Logout" class="UserInput">Logout</button> 
-->

<h2 id="h2">Proudcts For Sale</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody id="tablebody">
    
  </tbody>
</table>
 

    <!--Placeholder for notification to buyer-->
    <p id="Notification" style="display: none;"></p>
    
    </body>
