<head>
  <meta charset="utf-8">
  <title>CSE412 Web App</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/header.css" type="text/css">

  <script src="jquery/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="axios/axios.js"></script>
  <script src="javascripts/BuyerView.js" charset="utf-8"></script>

</head>

<body>

  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">CSE 412 </a>
    <form class="form-inline">
      <a href="/cart.html" class="btn btn-light" role="button">Shopping Cart</a>
      <a href="/Webpage.html" class="btn btn-danger" role="button">Logout</a>
    </form>
  </nav>

  <h2 id="h2">Proudcts For Sale</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Supply</th>
        <th scope="col">Add To Cart</th>
      </tr>
    </thead>
    <tbody id="tablebody">

    </tbody>
  </table>


</body>