<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/header.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/userInfo.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/footer.css" type="text/css">

  <script src="jquery/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="axios/axios.js"></script>
  <script src="javascripts/userInfo.js" charset="utf-8"></script>

</head>

<body>
  <ul class="nav">
    <li>
      <p>CSE412</p>
    </li>
    <li><button class="Logout" onclick="window.location.href='Webpage.html';">Logout</button></li>
  </ul>

  <!--Labels are the text title and textfield-->
  <label for="Name">Name:</label>
  <input type="text" id="Name"><br><br>
  <label for="PhoneNumber">PhoneNumber:</label>
  <input type="text" id="PhoneNumber"><br><br>
  <label for="Address">Address:</label>
  <input type="text" id="Address"><br><br>
  <label for="Email">Email:</label>
  <input type="text" id="Email"><br><br>

  <!--Button for the user to press when they create their account-->
  <button id="CreateAcct">Create Account</button>
  <br>

  <p id="Notification" style="display: none;"></p>
</body>

<footer class="bg-success text-center text-lg-start">
  <div>
    <div class="row">

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Final Project Phase</h5>

        <u1 class="list-unstyled mb-0">
          <li>
            <p class="text-light text-uppercase;">CSE412</p>
          </li>
          <li>
            <p class="text-light">Jia Zou</p>
          </li>
          <li>
            <p class="text-light">Arizona State University</p>
          </li>
          <li>
            <p class="text-light">December 4, 2022</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Names</h5>

        <ul class="list-unstyled">
          <li>
            <p class="text-light">Cameron Hartmann</p>
          </li>
          <li>
            <p class="text-light">Fabian Sanchez Suarez</p>
          </li>
          <li>
            <p class="text-light">Matthew Westerham</p>
          </li>
          <li>
            <p class="text-light">Alexandr Zincenko</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Emails</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p class="text-light">Cmhartm4@asu.edu</p>
          </li>
          <li>
            <p class="text-light">fasanch3@asu.edu</p>
          </li>
          <li>
            <p class="text-light">mkweste1@asu.edu</p>
          </li>
          <li>
            <p class="text-light">azincenk@asu.edu</p>
          </li>
        </ul>
      </div>
    </div> 
  </div>
</footer>

