<head>
  <meta charset="utf-8">
  <title>CSE412 Web App</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/webpage.css" type="text/css">


  <script src="jquery/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="axios/axios.js"></script>
  <script src="javascripts/Webpage.js" charset="utf-8"></script>

</head>



<body>
  <nav class="avbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">CSE 412 </a>
    <form class="form-inline">
    </form>
  </nav>

  <div class="d-flex justify-content-center">
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username" maxlength="16">
    <br>
  </div>

  <br>
  <div class="d-flex justify-content-center">
    <a id="Login" class="btn btn-primary col-lg-1" role="button">Login</a>
    <a href="/CreateAccount.html" class="btn btn-secondary" role="button">Create Account</a>
    <br>
  </div>

</body>


<footer class="bg-success text-center text-lg-start">
  <div>
    <div class="row">

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Final Project Phase</h5>

        <u1 class="list-unstyled mb-0">
          <li>
            <p class="text-light text-uppercase;">CSE412</p>
          </li>
          <li>
            <p class="text-light">Jia Zou</p>
          </li>
          <li>
            <p class="text-light">Arizona State University</p>
          </li>
          <li>
            <p class="text-light">December 2, 2022</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Names</h5>

        <ul class="list-unstyled">
          <li>
            <p class="text-light">Cameron Hartmann</p>
          </li>
          <li>
            <p class="text-light">Fabian Sanchez Suarez</p>
          </li>
          <li>
            <p class="text-light">Matthew Westerham</p>
          </li>
          <li>
            <p class="text-light">Alexandr Zincenko</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Emails</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p class="text-light">Cmhartm4@asu.edu</p>
          </li>
          <li>
            <p class="text-light">fasanch3@asu.edu</p>
          </li>
          <li>
            <p class="text-light">mkweste1@asu.edu</p>
          </li>
          <li>
            <p class="text-light">azincenk@asu.edu</p>
          </li>
        </ul>
      </div>
    </div> 
  </div>
</footer>

